@charset "UTF-8";

body{
	font-size:1.2em;
	line-height: 1.8;
	background-image: url("img/c3.jpg"), url("img/c5.png");
	background-repeat: no-repeat, repeat-y;
	background-position: 0 center, 100% center;
	/* background-size: cover; */
	background-attachment: fixed;}
}

h2 {margin-top: 5em;}
li {margin-bottom: 1.5em;}

/* 목록앞의 모양을 이미지로 지정 */
.li-im{list-style: url("img/face.gif");
}
.li-bg{list-style: none; /* 목록 앞 기본모양 제거 */}
.li-bg>li { /* 개별 목록마다 배경이미지로 목록이미지 지정 */
	background-image: url("img/aniyellow.gif");
	background-repeat: no-repeat;
	background-color:#aff;
	background-position:0 10px;
	padding-left: 1em;
	}
	
.pre{white-space: pre;
	background-color: #ccc;
	padding-left: 30px;
	width: 700px;}
	
#sec01>p {
	background-image:url("img/c3.jpg");
	height: 300px;
	display: inline-block;
	/* 나란히 배치 */
	width: 30%;
	overflow: scroll;
	/* 영역밖의 내용을 스크롤바 처리 */
	margin-left: 2%; 
}	

.att01{
	background-attachment: scroll;}
.att02{
	background-attachment: fixed;}
.att03{
	background-attachment: local;}